#primary-actions-div :hover {
    cursor: pointer;
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
#primary-actions-div :active {
    cursor: pointer;
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
#githubImg {
    position: absolute;
    top: 3vh;
    right: 3vw;
    height: 5vh;
    cursor: pointer;
}
.featureImg {
    height: 20vw;
}