#connectionWaiting {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#connectionConnected {
    display: none;
}
#connectionDisconnected {
    display: none;
}