#connectionWaiting {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#connectionConnected {
    display: none;
}
#fileInterface {
    display: none;
}
.btn-file {
    position: relative;
    overflow: hidden;
  }
.btn-file input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: white;
      cursor: inherit;
      display: block;
  }
#sendBtn {
    display: none;
    cursor: pointer;
}
#progressBar {
    display: none;
    transition: 1s;
}

.fade-out-top{-webkit-animation:fade-out-top .7s cubic-bezier(.25,.46,.45,.94) both;animation:fade-out-top .7s cubic-bezier(.25,.46,.45,.94) both}


 @-webkit-keyframes fade-out-top{0%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}100%{-webkit-transform:translateY(-50px);transform:translateY(-50px);opacity:0;height:0;padding:0;margin:0 !important;}}@keyframes fade-out-top{0%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1;height:0;padding:0;margin:0 !important;}100%{-webkit-transform:translateY(-50px);transform:translateY(-50px);opacity:0;height:0;padding:0;margin: 0 !important;}}